{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title >SilinLi CV
        </title>
    </head>
    <body class="bgcolor">
        <div>
          <h1 class="color-white">SilinLi's CV</h1>
            <!-- <a href="{% url 'info_detail' %}">MYinfo</a> -->
        </div>
        <div class="page-image">
          {% block content%}
          {% endblock %}
            </div>
    </body>
</html>
