<html>
    <head>
        <title>Leke co.Ltd.</title>
    </head>

    <body vlink = "blue" bgcolor = "silver" text = "black">

        <div id = "title" align = "middle">
          <h1><b><big><font color = "red">LEKE SHEEP FARM</big></h1>
        </div>

        <div id = "menu" align = "middle" >
            <a href="/">About us</a>|
            <a href="">Contact us</a>
        </div>

        <div id = "posts" align = "middle">
          <h2><font color = "brown">POST LIST</h2>
          </div>
        {% for post in current_posts %}
        <div>
          <h3><a href="">{{post.title}}</a></h3>
          <p>published: {{post.published_date}}</p>
          <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor %}
    </body>
</html>
