{% extends 'blog/base.html' %}

{% block content%}
<div class="page-image">

    <a href="{% url 'post_list' %}">&#8629HomePage</a>
    {% if user.is_authenticated %}
    <a class="btn-edit" href="{% url 'post_edit' pk=post.pk %}"><css-icon class ="icon-edit"></css-icon></a>
    {% endif %}
  {% if post.published_date %}
    <div class="date">
      {{post.published_date}}
      </div>
    {%endif%}
  <h2 class="color-blue">{{post.title}}</h2>
  <p class="post">{{ post.text|linebreaksbr }}</p>
  </div>
  {% endblock %}
